extends ../node_modules/pug-bootstrap/_bootstrap
append styles
  link(href='../css/starter-template.css', rel='stylesheet')

block body
  +navbar-fixed("","navbar","inverse")
    +nav_item("/","active") Journals
    +nav_item("/search") Search
    +nav_item("mailto:moqri@ufl.edu") Contact
  .container
    .starter-template
      h4
        -var journal_enc=encodeURIComponent(journal)
        a(href='/') Journals
        =' / '
        a(href='/source?issn='+issn+'&journal='+journal_enc)
          =journal    
        =' / '+year
      br
      br
      table(border=1)
        thead
        tr
          td
            b Title
          td
            b Authors
          td
            b Citations
        tbody
        for res in qres
          -var title=res.title.value
          -var id=res.id[0].value
          -var creators=res.creator
          if (typeof(res.citation[0]) !== 'undefined')
            -var citation=res.citation[0].value
          else
            -var citation=''
          tr
            td
              a(href='article\?id='+id+'&issn='+issn+'&journal='+journal_enc+'&year='+year)
                !=title
            td    
              for creator in creators
                a(href='author?name='+creator.value+'&issn='+issn+'&journal='+journal_enc)
                  =creator.value + '; '
            td
              =citation
      br
      br
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-96980151-1', 'auto');
    ga('send', 'pageview');	  